*  
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: url("https://3.bp.blogspot.com/-X0gazRg7U5s/TxaUFiHzMKI/AAAAAAAAA88/67vjRa0_f-0/s1600/abstract-background.jpg") no-repeat;
    background-size:over;
}
#Heading
{
    text-align: left;
    margin: 10px 10%;
    color: aliceblue;
}

#inputText
{
    margin-left:10%;

}
#addButton
{
    background-color: #23dbfd;
    border-radius: 3px;
    text-shadow: 3px;
}
#listToDo
{
    margin: 10px 15%;
    color: aliceblue;
}